---
import Icon from "astro-icon"
import { Prism } from "@astrojs/prism"

let resp = await fetch("https://the-infinity-train-api.deno.dev/api/test")
let json = await resp.text()
json = JSON.stringify(JSON.parse(json), null, 2)
---

<div class="flex justify-center">
  <form class="form-send-api">
    <div class="flex justify-center align-middle mainApi">
      <div class="label-api">
        <div
          class="block font-bold w-60 md:mb bg-slate-400 py-2 rounded-sm text-neutral-200 pl-2 pr-0"
        >
          <label for="inputApi">the-infinity-train-api/api</label>
        </div>

		<datalist id="endpoints">
			<option value="/characters">/characters</option>
			<option value="/seasons">/seasons</option>
			<option value="/eastereggs">/eastereggs</option>
		</datalist>
      </div>
      <div class="input-container px-2">
        <input
          id="inputApi"
          type="text"
          class="input-api bg-gray-200 appearance-none border-2 border-gray-200 rounded w-80 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          placeholder="/"
		  list="endpoints"
        />
      </div>
      <div class="flex justify-center align-middle">
        <button
          type="button"
          class="btn-clipboard hint--top"
          aria-label="Copy to clipboard"
        >
          <Icon
            name="mdi:clipboard-outline"
            class="icon-clip clip-n hover:scale-95"
          />
        </button>
        <button
          type="submit"
          class="btn-send-api flex text-center justify-center text-purple-400 rounded-md hover:scale-110 transition-all"
          ><Icon name="ph:paper-plane-right-fill" />
        </button>
      </div>
    </div>
    <div class="pt-2 flex justify-center p-0"></div>
  </form>
</div>

<div class="prism-div flex justify-center">
  <Prism
    class="prism-container m-3 language-json json max-h-96"
    lang="json"
    code={json}
  />
</div>

<script src="../api/getResponse.js"></script>
<script src="../utils/clipboard.js"></script>

<style>
  .prism-container {
    border: 2px solid #0002;
    width: max-content;
    padding: 2rem;
    max-width: 60rem;
  }

  .btn-send-api {
    width: 3rem;
    text-align: center;
    height: 2.4rem;
    align-items: center;
  }

  .btn-send-api svg {
    width: 2.5rem;
    padding: 0.3rem;
  }

  .hidden {
    display: none;
  }

  .icon-clip {
    width: 2.5rem;
  }

  @media (min-width: 250px) and (max-width: 915px) {
    .mainApi {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    .prism-container {
      margin: 1rem;
      min-width: none;
    }

    .input-container {
      margin-bottom: 1rem;
    }

    .label-api {
      margin-bottom: 1rem;
    }
  }
</style>
